<div class="container mt-3">
  <div class="d-flex align-items-center mb-4 position-relative">
    <%= link_to :back, class: "btn rounded-pill bg-white position-absolute", style: "color: #751F1F; left: 0;" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h3 class="text-center mb-0 w-100" style="color: #0C0C0C;">All your Bookclubs</h3>
  </div>
</div>
<div class="container">
  <div class="container">
    <div class="row mx-1">
      <% current_user.bookclubs.each do |bookclub| %>
        <%= link_to bookclub_path(bookclub), class: "text-decoration-none" do %>
          <div class="col-16 d-flex mb-3 align-items-center">
            <%= cl_image_tag bookclub.book.cover.key, class: "rounded-3 me-3", style:"width: 80px; height: 128px; object-fit: cover; margin-bottom: 1rem; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);", alt: bookclub.book.title if bookclub.book.cover.attached? %>
            <div>
              <h4 style="margin-bottom: 4px; color: #751F1F;" class="fw-medium playfair-display">
                <%= bookclub.name %>
              </h4>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
