<div class="container mt-3 mb-3">
  <div class="d-flex align-items-center mb-4 position-relative">
    <%= link_to :back, class: "btn rounded-pill bg-white position-absolute", style: "color: #751F1F; left: 0;" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h3 class="text-center mb-0 w-100" style="color: #0C0C0C;">Chat with margi</h3>
  </div>
</div>
<%= turbo_stream_from @chat %>

<div class="container d-flex flex-column vh-100 px-0">
  <div id="messages" data-controller="chat-scroll" class="flex-grow-1 overflow-auto px-4" style="max-height: calc(100vh - 160px);">
    <% @chat.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div id="new_message" class="p-3">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>
