<div class="container d-flex flex-column vh-100 px-0">
  <div id="chat" class="flex-grow-1 overflow-auto px-4" style="max-height: calc(100vh - 160px);">
    <%= render partial: "chats/message", collection: @chat.messages, as: :message %>
  </div>
  <div class="p-3">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>