<% follow = current_user.follows.find_by(following: user) %>
<div id="follow-<%= user.id %>-follow">
    <% if follow %>
        <%= button_to follow_path(id: follow.id),
                    method: :delete,
                    class: "btn rounded-pill py-0 px-2 follow-button",
                    style: "color: #751F1F; border-color: #751F1F; font-size: 0.75rem;",
                    form: { data: { turbo: true } } do %>
            Unfollow
        <% end %>
    <% else %>
        <%= button_to follows_path(following_id: user.id),
                        method: :post,
                        class: "btn rounded-pill py-0 px-2 follow-button",
                        style: "color: #751F1F; border-color: #751F1F; font-size: 0.75rem;",
                        form: { data: { turbo: true } } do %>
            Follow
        <% end %>
    <% end %>
</div>  