// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.custom-link {
  color: #751f1f;
  text-decoration: none;
}

.custom-link:hover {
  color: #751f1f;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $my-font;
  font-weight: 900;
  color: #751f1f;
}

p {
  color: #070740;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #751F1F55; /* halo rouge doux */
  transition: box-shadow 0.2s ease-in-out;
}
