<div style="height: 140px; background-image: url('https://plus.unsplash.com/premium_photo-1703701579660-8481915a7991?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va2NsdWJ8ZW58MHx8MHx8fDA%3D'); background-size: cover; background-position: center;">
</div>
<div class="container d-flex gap-2 ">
  <!-- Image du livre associé -->
  <div class="text-center" style="margin-top: -60px;">
    <%= cl_image_tag @bookclub.book.cover.key, class: "rounded-3", style:"width: 130px; height: 180px; object-fit: cover; margin-bottom: 1rem; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);", alt: book.title if @bookclub.book.cover.attached? %>
  </div>

  <!-- Détails du Bookclub -->
  <div class="mt-4">
    <h4 class="" style="color: #751F1F;"><%= @bookclub.name %></h4>
    <p class="text-muted">Premium bookclub <i class="fa-solid fa-circle-check"></i></p>
    <p class="text-muted">25 members</p>
    <%= link_to "edit", edit_bookclub_path %>
  </div>
</div>
<div class="container mt-4">
  <%# <h4>Bookclub rules</h4> %>

<h4>Thread</h4>
<div>
      <%# <div class="border-bottom border-top fw-bold d-flex justify-content-between align-items-center py-2">
        <span>Titre de conversation</span>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="border-bottom border-top fw-bold d-flex justify-content-between align-items-center py-2">
        <span>Titre de conversation</span>
        <i class="fa-solid fa-chevron-right"></i>
      </div> %>

      <div class="mb-3 p-4 rounded-5" style="background-color: #F5EADB;">
        <div class="d-flex align-items-center" >
          <img src="https://plus.unsplash.com/premium_photo-1703701579660-8481915a7991?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va2NsdWJ8ZW58MHx8MHx8fDA%3D" style="width: 48px; height: 48px; border-radius: 32px;" alt="">
          <div class="ms-2">
            <p class="mb-0">Username</p>
            <p class="text-muted" style="font-size: 14px;">Date</p>
          </div>
        </div>
        <p class="mt-2 mb-4" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="d-flex gap-4 mt-2">
          <div class="gap-4"><i class="fa-regular fa-heart"></i>122</div>
          <div class="gap-4"><i class="fa-regular fa-comment"></i></i>12</div>
        </div>
    </div>
      <div class="mb-3 p-4 rounded-5" style="background-color: #F5EADB;">
        <div class="d-flex align-items-center" >
          <img src="https://plus.unsplash.com/premium_photo-1703701579660-8481915a7991?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va2NsdWJ8ZW58MHx8MHx8fDA%3D" style="width: 48px; height: 48px; border-radius: 32px;" alt="">
          <div class="ms-2">
            <p class="mb-0">Username</p>
            <p class="text-muted" style="font-size: 14px;">Date</p>
          </div>
        </div>
        <p class="mt-2 mb-4" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="d-flex gap-4 mt-2">
          <div class="gap-4"><i class="fa-regular fa-heart"></i>122</div>
          <div class="gap-4"><i class="fa-regular fa-comment"></i></i>12</div>
        </div>
    </div>
      <div class="mb-3 p-4 rounded-5" style="background-color: #F5EADB;">
        <div class="d-flex align-items-center" >
          <img src="https://plus.unsplash.com/premium_photo-1703701579660-8481915a7991?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va2NsdWJ8ZW58MHx8MHx8fDA%3D" style="width: 48px; height: 48px; border-radius: 32px;" alt="">
          <div class="ms-2">
            <p class="mb-0">Username</p>
            <p class="text-muted" style="font-size: 14px;">Date</p>
          </div>
        </div>
        <p class="mt-2 mb-4" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="d-flex gap-4 mt-2">
          <div class="gap-4"><i class="fa-regular fa-heart"></i>122</div>
          <div class="gap-4"><i class="fa-regular fa-comment"></i></i>12</div>
        </div>
    </div>
</div>
